[user]
name = Ilán Vivanco
email = ilanvivanco@gmail.com
[core]
excludesfile = /home/ilan/.globalignore
autocrlf = false
editor = code -w
[init]
defaultBranch = main
[pull]
rebase = false
[alias]
purge = "!git remote update --prune && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -d"
