## Windows
alias explorer='explorer.exe'
alias clip='clip.exe'

# WSL
alias www='cd ~/www'
alias dev='cd ~/code'
alias win='cd /mnt/c/Users/melio'

# Polite sudo alias
alias please='sudo'

# Paperclip AI
alias paperclip='(cd "$HOME" && env -u DATABASE_URL paperclipai run)'
